-- wezterm.lua
local wezterm = require 'wezterm'
local config = {}

config.initial_cols = 146
config.initial_rows = 40


{{ if eq .chezmoi.os "windows" -}}
-- On windows, there is a problem when moving the window between monitors
-- This resolves it, but the window does not scale to monitor
config.dpi=160
{{ end -}}

config.window_frame = {
  font = wezterm.font { family = 'JetBrainsMono NF' },

  -- The size of the font in the tab bar.
  -- Default to 10.0 on Windows but 12.0 on other systems
  -- font_size = 12.0,

  -- The overall background color of the tab bar when
  -- the window is focused
  active_titlebar_bg = '#333333',

  -- The overall background color of the tab bar when
  -- the window is not focused
  inactive_titlebar_bg = '#333333',
}

config.colors = {
  tab_bar = {
    -- The color of the inactive tab bar edge/divider
    inactive_tab_edge = '#575757',
  },
}

config.color_scheme = 'Catppuccin Frappe'
config.window_background_opacity = 0.95
config.font = wezterm.font_with_fallback {
  'JetBrainsMono NF',
  'Noto Color Emoji',
}
config.line_height = 1.1
{{ if eq .chezmoi.os "darwin" -}}
config.font_size = 18
{{ end -}}
config.hide_tab_bar_if_only_one_tab = true

{{ if eq .chezmoi.os "windows" -}}
config.default_prog = { 'pwsh.exe', '-NoLogo' }
{{ else -}}
{{ end -}}

config.keys = {
  -- =========================================================================
  -- TABS
  -- Keys are chosen to be mnemonic (c for create, n/p for next/prev)
  -- =========================================================================
  -- Create a new tab 
  {
    key = 't',
    mods = 'META',
    action = wezterm.action.SpawnTab 'DefaultDomain',
  },
  -- Close the current tab 
  {
    key = 'x',
    mods = 'META',
    action = wezterm.action.CloseCurrentTab { confirm = true },
  },
  -- Navigate tabs (Leader, n for next, p for previous)
  { key = 'n', mods = 'META', action = wezterm.action.ActivateTabRelative(1) },
  { key = 'p', mods = 'META', action = wezterm.action.ActivateTabRelative(-1) },
  -- Go to specific tabs (Leader, 1-9)
  { key = '1', mods = 'META', action = wezterm.action.ActivateTab(0) },
  { key = '2', mods = 'META', action = wezterm.action.ActivateTab(1) },
  { key = '3', mods = 'META', action = wezterm.action.ActivateTab(2) },
  { key = '4', mods = 'META', action = wezterm.action.ActivateTab(3) },
  { key = '5', mods = 'META', action = wezterm.action.ActivateTab(4) },
  { key = '6', mods = 'META', action = wezterm.action.ActivateTab(5) },
  { key = '7', mods = 'META', action = wezterm.action.ActivateTab(6) },
  { key = '8', mods = 'META', action = wezterm.action.ActivateTab(7) },
  { key = '9', mods = 'META', action = wezterm.action.ActivateTab(-1) }, -- Last tab


  -- =========================================================================
  -- PANES (Splits)
  -- We use tmux-like keys: " for horizontal, % for vertical
  -- =========================================================================
  -- Split pane horizontally 
  {
    key = 'g',
    mods = 'META',
    action = wezterm.action.SplitPane {
      direction = 'Right',
      size = { Percent = 50 },
    },
  },
  -- Split pane vertically (Leader, -)
  {
    key = 'b',
    mods = 'META',
    action = wezterm.action.SplitPane {
      direction = 'Down',
      size = { Percent = 50 },
    },
  },
  -- Close the current pane (Leader, x - same as closing a tab, context-aware)
  -- Note: We already mapped 'x' to CloseCurrentTab. Wezterm is smart; if you
  -- have a pane focused, you'll be prompted to close the pane. If you only
  -- have one pane in a tab, it will prompt to close the tab.
  -- To make it explicitly close ONLY the pane:
  -- { key = 'x', mods = 'LEADER', action = wezterm.action.CloseCurrentPane { confirm = true } },


  -- Navigate between panes using Leader + Arrow Keys or vim keys
  { key = 'h', mods = 'META', action = wezterm.action.ActivatePaneDirection 'Left' },
  { key = 'l', mods = 'META', action = wezterm.action.ActivatePaneDirection 'Right' },
  { key = 'k', mods = 'META', action = wezterm.action.ActivatePaneDirection 'Up' },
  { key = 'j', mods = 'META', action = wezterm.action.ActivatePaneDirection 'Down' },

  -- Resize panes using Leader + SHIFT + Arrow Keys
  { key = 'h',  mods = 'META|SHIFT', action = wezterm.action.AdjustPaneSize { 'Left', 1 } },
  { key = 'l', mods = 'META|SHIFT', action = wezterm.action.AdjustPaneSize { 'Right', 1 } },
  { key = 'k',    mods = 'META|SHIFT', action = wezterm.action.AdjustPaneSize { 'Up', 1 } },
  { key = 'j',  mods = 'META|SHIFT', action = wezterm.action.AdjustPaneSize { 'Down', 1 } },


  -- =========================================================================
  -- UTILITY (These are not behind the leader key)
  -- =========================================================================
  -- Copy and Paste (Standard terminal shortcuts)
  { key = 'c', mods = 'META', action = wezterm.action.CopyTo 'Clipboard' },
  { key = 'v', mods = 'META', action = wezterm.action.PasteFrom 'Clipboard' },

  -- Toggle Fullscreen
  {
    key = 'Enter',
    mods = 'META|SHIFT',
    action = wezterm.action.ToggleFullScreen,
  },

  -- =========================================================================
  -- UTILITY (These ARE behind the leader key)
  -- =========================================================================
  -- Font size
  --{ key = '=', mods = 'LEADER', action = wezterm.action.IncreaseFontSize },
  --{ key = '-', mods = 'LEADER', action = wezterm.action.DecreaseFontSize },
  --{ key = '0', mods = 'LEADER', action = wezterm.action.ResetFontSize },

}

return config

-- vim: set filetype=lua:
