snippet require "var thing = require('thing')"
var $1 = require('${0:$1}');
endsnippet

snippet "^(\s*var\s)([^\s]+)(\s*=\s*)require" "require('x')" r
`!p
snip.rv = match.group(1) + match.group(2) + match.group(3) + "require('"
`${0:`!p
varname = match.group(2)
snip.rv = varname[:1].lower() + varname[1:]
`}');
endsnippet
