global !p
def lower_firstletter(str):
	return str[:1].lower() + str[1:]
endglobal


snippet const "cosnt myConst = ..." w
const $1 = $0;
endsnippet

snippet import "import ... from ..." w
import $1 from '${0:`!p snip.rv = lower_firstletter(t[1])`}';
endsnippet
