snippet from "from ... import ..."
from $1 import $0
endsnippet

snippet class "class definition"
class $1($2):
	"""
	$3
	"""
	$0
endsnippet

snippet def "function definition"
def $1($2):
	"""
	$3
	"""
	$0
endsnippet
